@charset "utf-8";
/* CSS Document */

.bi-heart-fill {
	margin: 10px;
}

.bi-cart-fill {
	margin: 10px;
}

.navbar {
	background-color: #feffa8;
}

.encabezado {
	align-items: center;
}

.listadedeseos {
	color: #e26628;
}

.carritodecompras {
	color: #e26628;
}

.logo h2 {
	font-family: "Fugaz One", cursive;
	margin-left: 50px;
	font-size: 25px;
	margin-top: 10px;
}

a {
	font-family: "Roboto", sans-serif;
}

.carousel {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 150px;
	margin-bottom: 100px;
	border: 7px solid #feff6f;
	box-shadow: 7px 5px 0px #e26628;
}

.categorias {
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	justify-content: space-evenly;
	align-items: center;
}

.categorias-remeras,
.categorias-vestidos,
.categorias-camperas,
.categorias-pantalones {
	background-image: url("../img/remeras.png");
	opacity: 0.9;
	width: 380px;
	height: 150px;
	margin-bottom: 50px;
	text-align: center;
	margin-left: 50px;
	margin-right: 50px;

	box-shadow: 7px 5px 0px #e26628;
}

.pantalones h3,
.vestidos h3,
.remeras h3,
.camperas h3 {
	font-family: "Fugaz One", cursive;
	font-size: 30px;
	color: #feff6f;
	text-align: center;
	text-shadow: 5px 3px 0px #e26628;
}

.remeras,
.vestidos,
.camperas,
.pantalones {
	background-color: white;
	height: 50px;
	width: 210px;
	margin: 0px auto;
	margin-top: 50px;
}

.footer {
	background-color: rgb(255, 255, 255);
	width: 100%;
	height: 400px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	justify-content: space-around;
	border: 5px solid #feff6f;
}

.redes {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}
/* CSS INDEX CHULO */

.btn.btn-newsl {
	float: right;
	box-shadow: 7px 5px 0px #e26628;
	background-color: #feff6f;
	color: black;
	width: 140px;
	margin-top: 10px;
}

.linksfooter {
	float: right;
}
/* CSS PRODUCTO */

.card {
	border: 1px solid rgb(222, 222, 222);

	box-shadow: 7px 5px 0px rgb(236, 236, 236);
	margin: 40px 40px 20px 40px;
}

.card-title-gral h3 {
	font-family: "Fugaz One", cursive;
	font-size: 30px;
	color: #feff6f;
	text-align: center;
	text-shadow: 5px 3px 0px #e26628;
}

.card-text {
	float: right;
}

.card-img-top {
	width: auto;
	height: 520px;
}

/* CSS POP UP LOGIN Y REGISTRO */

.modal-content {
	box-shadow: 7px 5px 0px #e26628;
}

/* PRODUCTO STOCK */

.eee {
	margin-top: 20px;
}

.alta {
	background-color: #feff6f;
	height: 50px;
	width: 60%;
	margin-top: 50px;
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-end;
	align-content: center;
	align-items: center;
	box-shadow: 3px 3px 0px #e26628;
}

.modificar {
	background-color: #feff6f;
	height: 50px;
	width: 60%;
	margin-left: 40%;
	margin-top: 50px;
	margin-bottom: 30px;
	display: flex;
	justify-content: flex-start;
	align-content: center;
	align-items: center;
	box-shadow: 3px 3px 0px #e26628;
}

.modificar_titulo {
	font-family: "Fugaz One", cursive;
	font-size: 25px;
	margin-top: 10px;
	margin-left: 30px;
}

.alta_enviar {
	width: 70%;
	margin-left: 15%;
	display: flex;
	justify-content: center;
}

.alta_titulo {
	font-family: "Fugaz One", cursive;
	font-size: 25px;
	margin-top: 10px;
	margin-right: 20px;
}

.alta_formulario {
	width: 70%;
	margin-left: 15%;
}

.modificar_formulario {
	width: 70%;
	margin-left: 15%;
}

@media screen and (max-device-width: 768px), screen and (max-width: 768px) {
	.alta {
		height: 30px;
	}

	.alta_titulo {
		font-size: 15px;
		margin-right: 10px;
	}

	.logo h2 {
		font-family: "Fugaz One", cursive;
		margin-left: 20px;
		font-size: 15px;
		margin-top: 5px;
	}

	.d-flex {
		width: 50%;
	}
}
