<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="back/backFragments :: head_basic"></div>
</head>

<body>

	<!-- HEADER -->
	<header>
		<div th:replace="back/backFragments :: nav_basic"></div>
	</header>

	<!-- MAIN CONTENT -->
	<main class="container mt-3">

		<!-- SECTION PRODUCTOS -->
		<section>
			<h3>PRODUCTOS</h3>

			<!-- ALTA -->
			<hr>
			<h5>ALTA</h5>
			<form action="/back/producto" method="post" enctype="multipart/form-data">
				<p th:if="${error !=null}" th:text="${error}" style="color: red"></p>
				<div class="row mb-3">
					<div class="col-md-6">
						<div class="form-floating mb-3 mb-md-0">
							<input th:ob class="form-control" name="name" id="inputFirstName" type="text"
								placeholder="Ingrese su nombre" th:value="${name}" /> <label style="color: gray"
								for="inputFirstName">Nombre</label>
						</div>
					</div>
					<div class="col-md-6">
						<select class="custom-select" name="status">
							<option selected>Seleccione el estado de producto</option>
							<option th:each="estado : ${estados}" th:value="${estado}">
								<span th:text="${estado}"></span>
							</option>
						</select>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<textarea id="medidasTextarea" name="size" rows="4" cols="50">
							</textarea>
							<label style="color: gray" for="medidasTextarea">Medidas</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="category" id="inputLastName" type="text"
								placeholder="Enter your last name" th:value="${category}" /> <label style="color: gray"
								for="inputLastName">Categoria</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="description" id="inputLastName" type="text"
								placeholder="Enter your last name" th:value="${description}" /> <label
								style="color: gray" for="inputLastName">Descripcion</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<select class="custom-select" name="rawMaterials">
							<option selected>Seleccione el material</option>
							<option th:each="material : ${materiales}" th:value="${material}">
								<span th:text="${material}"></span>
							</option>
						</select>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="cost" id="inputprecio" type="number" placeholder="costo"
								th:value="${cost}" /> <label style="color: gray" for="inputLastName">Costo</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="price" id="inputprecio" type="number" placeholder="price"
								th:value="${cost}" /> <label style="color: gray" for="inputLastName">Precio</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="stock" id="inputprecio" type="number" placeholder="stock"
								th:value="${stock}" /> <label style="color: gray" for="inputLastName">Stock</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="iva" id="inputprecio" type="number" placeholder="iva"
								th:value="${iva}" /> <label style="color: gray" for="inputLastName">IVA</label>
						</div>
					</div>

				</div>

				<div class="form-floating mb-3">
					<input style="color: gray" class="form-control" name="file" id="inputEmail" type="file" />
				</div>

				<div class="mt-4 mb-0">
					<button class="btn btn-primary btn-xl" type="submit">Registrar producto</button>
				</div>
			</form>

<div>
	


</div>



			<!-- MODIFICACION -->
			<hr>
			<h5>MODIFICACION</h5>
			<form action="/back/edit_producto" method="post" enctype="multipart/form-data">
			<p th:if="${error !=null}" th:text="${error}"											style="color: red"></p>
		
				<div class="row mb-3">
				<div class="col-md-6">
						<div class="form-floating mb-3 mb-md-0">
							<input th:ob class="form-control" name="id" id="inputFirstName" type="text"
								placeholder="Ingrese su id" th:value="${id}" /> <label style="color: gray"
								for="inputFirstName">Id</label>
						</div>
					</div>				
					<div class="col-md-6">
						<div class="form-floating mb-3 mb-md-0">
							<input th:ob class="form-control" name="name" id="inputFirstName" type="text"
								placeholder="Ingrese su nombre" th:value="${name}" /> <label style="color: gray"
								for="inputFirstName">Nombre</label>
						</div>
					</div>
					<div class="col-md-6">
						<select class="custom-select" name="status">
							<option selected>Seleccione el estado de producto</option>
							<option th:each="estado : ${estados}" th:value="${estado}">
								<span th:text="${estado}"></span>
							</option>
						</select>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<textarea id="medidasTextarea" name="size" rows="4" cols="50">
							</textarea>
							<label style="color: gray" for="medidasTextarea">Medidas</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="category" id="inputLastName" type="text"
								placeholder="Enter your last name" th:value="${category}" /> <label style="color: gray"
								for="inputLastName">Categoria</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="description" id="inputLastName" type="text"
								placeholder="Enter your last name" th:value="${description}" /> <label
								style="color: gray" for="inputLastName">Descripcion</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<select class="custom-select" name="rawMaterials">
							<option selected>Seleccione el material</option>
							<option th:each="material : ${materiales}" th:value="${material}">
								<span th:text="${material}"></span>
							</option>
						</select>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="cost" id="inputprecio" type="number" placeholder="costo"
								th:value="${cost}" /> <label style="color: gray" for="inputLastName">Costo</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="price" id="inputprecio" type="number" placeholder="price"
								th:value="${cost}" /> <label style="color: gray" for="inputLastName">Precio</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="stock" id="inputprecio" type="number" placeholder="stock"
								th:value="${stock}" /> <label style="color: gray" for="inputLastName">Stock</label>
						</div>
					</div>
					<div class="col-md-6 mb-3">
						<div class="form-floating">
							<input class="form-control" name="iva" id="inputprecio" type="number" placeholder="iva"
								th:value="${iva}" /> <label style="color: gray" for="inputLastName">IVA</label>
						</div>
					</div>

				</div>

				<div class="form-floating mb-3">
					<input style="color: gray" class="form-control" name="file" id="inputEmail" type="file" />
				</div>

				<div class="mt-4 mb-0">
					<button class="btn btn-primary btn-xl" type="submit">Registrar producto</button>
				</div>
			</form>

			<!-- BAJA -->
			<hr>
			<h5>BAJA</h5>
			<form action="/back/remove_product" method="post" enctype="multipart/form-data">
			<p th:if="${error !=null}" th:text="${error}" style="color: red"></p>
				<div class="mb-3">
					<input th:ob class="form-control" name="id" id="inputFirstName" type="text"
								placeholder="Ingrese su id" th:value="${id}" /> <label style="color: gray"
								for="inputFirstName">Id</label>
				</div>
				<button type="submit" class="btn btn-danger">Eliminar</button>
			</form>

		</section>

	</main>

	<!-- LINKS SCRIPTS BOOTSTRAP -->
	<div th:replace="back/backFragments :: scripts_bootstrap"></div>

</body>

</html>