<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
	<div th:replace="back/backFragments :: head_basic"></div>
</head>

<body>

	<!-- HEADER -->
	<header>
		<div th:replace="back/backFragments :: nav_basic"></div>
	</header>

	<!-- MAIN CONTENT -->
	<main class="container mt-3">

		<!-- SECTION PRODUCTOS -->
		<section>
			<h3>PROXIMO TRABAJO</h3>
		</section>

	</main>

	<!-- LINKS SCRIPTS BOOTSTRAP -->
	<div th:replace="back/backFragments :: scripts_bootstrap"></div>

</body>

</html>