<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, 
                  user-scalable=no,initial-scale=1, maximum-scale=1,minimun-scale=1">
<title>Mi perfil</title>
<link href="/css/styleperfil.css" rel="stylesheet">
</head>
<body>
	<style>
body {
	background-image: url("/img/fondologin.png");
	background-repeat: repeat;
	background-attachment: fixed;
	background-size: cover;
	background-size: 100% auto;
}
</style>


	<div class="header">
		<div class="container">
			<div class="row justify-content-center align-content-center">

				<div class="col-md-12">
					<div class="i">
						<img class="img2" src="/img/botton-01.png">
					</div>

				</div>

				<div class="col-md-2">
					<a href="buscar/AdoptadosporZona1"> <img class="img3"
						src="/img/boton3-01.png">
					</a>
				</div>

			</div>

		</div>
	</div>

	<div class="row justify-content-center align-items-center">

		<div class="col-md-5 col-sm-3 ">
			<a href="/edit"
				class="portfolio-box"> <img src="/img/botonregistro-01.jpeg"
				class="img-responsive-index" alt="">

			</a>
		</div>
	</div>



	<div class="container">
	</div>





</body>
</html>
